.App {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 60px auto;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to bottom, #132555 0%, #9762A2 100%);
  font-family: sans-serif;
}

.header {
  
  display: grid;
  grid-template-columns: 80px calc(100% - 160px) 80px;
  align-items: center;
  justify-items: center;
}

.content {
  
}

.local {
  width: 80%;
  height: 60%; 
  background-color: #EEE;
  box-shadow: inset 1px 2px 2px #333;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  font-variant: small-caps;
  font-size: 1.15rem;
}
